@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
	<strong>Clsmap Inc.</strong><br>
    <abbr title="Phone">:P</abbr>
</address>

<address>
	<a id="gh-btn" class="gh-btn" href="https://github.com/lyonc/Wuliao" target="_blank">
		<span id="gh-ico" class="gh-ico"></span>
		<span id="gh-text" class="gh-text">Star this project</span>
	</a>
    <a href="https://github.com/lyonc" >
    	<span class="fa fa-github">GitHub</span>
    </a>
</address>