<div id="about" class="aside hidden-xs">
	<h3>About</h3>
	<hr />
	<div class="media">
		<a class="pull-left" href="/About">
			<img src="/Content/Images/avatar.png" alt="avatar of site master" class="img-circle media-object avatar" />
		</a>
		<div class="media-body">
			<h4 class="media-heading">Lyon Chen</h4>
			<span class="acer">
				Lv.@(DateTime.Now.Year - 1990) Acer.<br>
				Senior C# Programmer. <br>
			</span>
		</div>
		<div class="gap"></div>
		<div class="btn-group btn-group-justified" role="group" arial-label="contacts">
			<a href="mailto:qinhutu@gmail.com" class="btn btn-success" title="Email">
				<span class="fa fa-paper-plane-o"></span>
				Email
			</a>
			<a href="https://github.com/lyonc" class="btn btn-primary" title="GayHub">
				<span class="fa fa-github"></span>
				GitHub
			</a>
			<a href="skype:lotata@live.cn?chat" class="btn btn-warning" title="Skype">
				<span class="fa fa-skype"></span>
				Skype
			</a>
		</div>
	</div>
</div>

<div class="gap"></div>

<div id="search" class="aside hidden-xs">
	<form action="/Search/Word" class="form-inline" method="get" role="search">
		<div class="form-group">
			<input class="form-control" id="word" maxlength="30" placeholder="Search" type="text" style="width: 219px;" />
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-success">
				<span class="fa fa-search"></span>
			</button>
		</div>
	</form>
</div>

<div class="gap"></div>

<div id="tags" class="aside hidden-xs">
	<h3>Tags</h3>
	<hr />
	<div class="tags-list">
		<a href="/Tag/List/ASP.NET">ASP.NET</a>
		<a href="/Tag/List/CSharp">C#</a>
		<a href="/Tag/List/Mono">Mono</a>
		<a href="/Tag/List/CLR">CLR</a>
		<a href="/Tag/List/WPF">WPF</a>
		<a href="/Tag/List/Algorithm">Algorithm</a>
		<a href="/Tag/List/Coding">Coding</a>
		<a href="/Tag/List/GoF">Design Pattern</a>
	</div>
</div>

<div class="gap"></div>

<div id="links" class="aside hidden-xs hidden-sm">
	<h3>Links</h3>
	<hr />
	<ul class="list-unstyled linklist">
		<li>
			<div class="tilexsm">
				<div class="tilexsm-image">
					<span class="fa fa-windows"></span>
				</div>
				<div class="tilexsm-info">
					<div class="tilexsm-title">
						<a href="http://www.gatesnotes.com" target="_blank">Bill Gates</a>
					</div>
					<div class="tilexsm-subtitle">
					</div>
				</div>
			</div>
		</li>
		<li>
			<div class="tilexsm">
				<div class="tilexsm-image">
					<span class="fa fa-windows"></span>
				</div>
				<div class="tilexsm-info">
					<div class="tilexsm-title">
						<a href="http://weblogs.asp.net/scottgu" target="_blank">ScottGu's Blog</a>
					</div>
					<div class="tilexsm-subtitle">
						<a href="feed://weblogs.asp.net/scottgu/rss?containerid=13">
							<span class="fa fa-rss"></span>
						</a>
					</div>
				</div>
			</div>
		</li>
		<li>
			<div class="tilexsm">
				<div class="tilexsm-image">
					<span class="fa fa-lightbulb-o"></span>
				</div>
				<div class="tilexsm-info">
					<div class="tilexsm-title">
						<a href="http://codeblog.jonskeet.uk" target="_blank">Jon Skeet's coding blog</a>
					</div>
					<div class="tilexsm-subtitle">
						<a href="http://codeblog.jonskeet.uk/feed/">
							<span class="fa fa-rss"></span>
						</a>
					</div>
				</div>
			</div>
		</li>
		<li>
			<div class="tilexsm">
				<div class="tilexsm-image">
					<span class="fa fa-bomb"></span>
				</div>
				<div class="tilexsm-info">
					<div class="tilexsm-title">
						<a href="http://blog.zhaojie.me" target="_blank">老赵点滴-追求编程之美</a>
					</div>
					<div class="tilexsm-subtitle">
						<a href="http://blog.zhaojie.me/rss">
							<span class="fa fa-rss"></span>
						</a>
					</div>
				</div>
			</div>
		</li>
		<li>
			<div class="tilexsm">
				<div class="tilexsm-image">
					<span class="fa fa-bug"></span>
				</div>
				<div class="tilexsm-info">
					<div class="tilexsm-title">
						<a href="http://zhaojin.me" target="_blank">赵进的博客</a>
					</div>
					<div class="tilexsm-subtitle">
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>